@import '../../node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize.scss';
@font-face {
	font-family: 'FontAwesome';
	src: url('../../assets/fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../../assets/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../../assets/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../../assets/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../../assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.threesixty {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	max-height: 100%;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	width: auto;
	&.light {
		a, a:hover, a:visited {
			color: #ddd;
			text-decoration: none;
		}
	}
	&.dark {
		a, a:hover, a:visited {
			color: #222;
			text-decoration: none;
		}
	}
	.threesixty_images {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		img {
			position: absolute;
			top: 0;
			width: 100%;
			height: auto;
			&.previous-image {
				visibility: hidden;
				/*
		   		Do not put here any other styles.
		   		It causes massive recalc / repaints and image flickering,
		   		especially on Firefox.
				*/
			}
			&.current-image {
				visibility: visible;
				/*
		   		Do not put here any other styles.
		   		It causes massive recalc / repaints and image flickering,
		   		especially on Firefox.
				*/
			}
		}
	}
	.spinner {
		width: 60px;
		display: block;
		margin: 0 auto;
		height: 30px;
		background: #333;
		background: rgba(0, 0, 0, 0.7);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		span {
			font-family: Arial, "MS Trebuchet", sans-serif;
			font-size: 12px;
			font-weight: bolder;
			color: #FFF;
			text-align: center;
			line-height: 30px;
			display: block;
		}
	}
	.nav_bar {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 11;
		a {
			display: block;
			font-size: 2em;
			width: 32px;
			height: 32px;
			float: left;
			&.nav_bar_play:before {
				content: "\f04b";
			}
			&.nav_bar_previous:before {
				content: "\f04a";
			}
			&.nav_bar_stop:before {
				content: "\f04c";
			}
			&.nav_bar_next:before {
				content: "\f04e";
			}
		}
	}
	a#fs {
		z-index: 12;
		display: block;
		position: absolute;
		font-size: 1.5em;
		width: 26px;
		height: 26px;
		right: 5px;
		bottom: 5px;
		cursor: pointer;
		&.off:before {
			content: "\f2d0";
		}
		&.on:before {
			content: "\f2d2";
		}
	}
}

.info {
	position: absolute;
	height: 30px;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
}
/* html */

:-webkit-full-screen,
:-moz-full-screen {
	body {
		background: blue;
	}
	.threesixty {
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
	}
}
